/* Web Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Global CSS variables */
:root {
    --site-padding: 15vw;
}

/* General */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "Montserrat", sans-serif;
    background: #222;
    color: white;
}

/** Main content **/
main {
    padding: 0 var(--site-padding);
}

/* News section */
.news {
    margin-top: 3vw;
}

.news h1 {
    font-size: 2.3vw;
    text-align: center;
    text-decoration: underline;
}

.news > article {
    padding: 2vw 4vw;
    margin-top: 3vw;
    display: flex;
    column-gap: 4vw;

    background: #444;
    border-radius: 1rem;
}

.news-film-picture {
    flex-basis: 30%;
}

.news-film-picture img {
    max-width: 100%;

    border-radius: 1rem;
}

.news-film-description {
    flex-basis: 70%;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

.news-film-description h2 {
    margin: 0 0 3vw;
    flex-basis: 100%;

    font-size: 1.7vw;
}

.news-film-description p {
    margin: 0;

    font-size: .9vw;
    line-height: 1.6vw;
}

/* Main form button */
.main-form-button {
    margin: 3rem auto;
    padding: 1rem 0;
    display: block;
    width: 70%;

    background: white;
    border: none;
    border-radius: 3rem;

    font-size: 1.4vw;
    letter-spacing: 3px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;

    transition: .2s ease;
    cursor: pointer;
}

.main-form-button:hover {
    background: lightgrey;
}

/* Slideshow section */
.film-slideshow {
    margin-top: 8vw;
}

#film-ordering {
    margin: 0 auto 2vw;
    padding: .7vw 1vw;
    display: block;

    font-weight: bold;
    font-size: 1vw;
}

.film-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 4vw;
    row-gap: 2vw;
}

.film-holder article {
    transition: .3s ease;
    cursor: pointer;
}

.film-holder article:hover {
    transform: scale(105%);
}

.film-holder article img {
    width: 100%;
    height: 80%;
}

.film-holder article h3 {
    margin-top: .5vw;

    line-height: 1.5vw;
    font-size: 1vw;
    text-align: center;
}

.film-slideshow .more-films {
    margin: 3vw auto 0;
    padding: .8vw 2vw;
    display: block;

    border: none;
    background: white;
    border-radius: 10rem;

    font-weight: bold;
    font-size: 1.4rem;

    transition: .2s ease;
    cursor: pointer;
}

.film-slideshow .more-films:hover {
    background: lightgrey;
}

.film-slideshow .more-films i {
    margin-left: .5rem;
}

/* Media queries */

@media screen and (max-width: 1340px) {
    .news h1 {
        font-size: 3vw;
    }

    .news-film-description h2 {
        font-size: 2.3vw;
    }

    .news-film-description p {
        font-size: 1vw;
        line-height: 2vw;
    }

    .film-holder {
        row-gap: 5vw;
    }

    .film-holder article h3 {
        font-size: 1.3vw;
        line-height: 2vw;
    }
}

@media screen and (max-width: 1100px) {
    :root {
        --site-padding: 5vw;
    }

    .news h1 {
        font-size: 3.5vw;
    }

    .news-film-description h2 {
        font-size: 3vw;
    }

    .news-film-description p {
        font-size: 1.4vw;
        line-height: 2.7vw;
    }

    .main-form-button {
        font-size: 2vw;
    }

    #film-ordering {
        font-size: 1.5vw;
        margin-bottom: 6vw;
    }
}

@media screen and (max-width: 800px) {
    .film-holder {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 6vw;
    }

    .film-holder article h3 {
        font-size: 2vw;
        line-height: 3.4vw;
    }

    .more-films {

    }
}